---
---

#maincontent {
	table {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}

.navbar-chulapa-fab {
	label.navbar-toggler {
		background-color: var(--warning);
	}
}

@media (min-width: 768px) {
	#maincontent {
		td {
			padding: 0.5rem 1rem;
		}
	}
}
